<!--
This view will exhibit based on the @document's content
If it's not empty, it will generate a table and create a row
for each doc inside the @document
Otherwise it will render the button "Go back!" that links
to the home
-->
<% if !@document.blank? %>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Term</th>
        <th>Path</th>
        <th>Sample</th>
      </tr>
    </thead>
    <% @document.each do |doc| %>
      <tr>
        <td> <%= doc.term %> </td>
        <td> <%= doc.path %> </td>
        <td> <%= doc.sample %></td>
      </tr>
    <% end %>

  </table>

<% end %>


<%= link_to "Go back!", 'home', class: "btn btn-outline-secondary mt-3"%>
