<!--
this page is rendered when the "show database content" button is pressed
from the home view
-->
<div class="jumbotron jumbotron-fluid border border-info">
  <div class="container">
    <h1 class="display-4">Database Content</h1>

  </div>
</div>

<!--
renders the _table view
-->
<%= render 'table' %>