<!--
This view is responsible for handling the requests that
were not found on the database.
It will render the appropriate component based on the
content of the @message.
If @message has a content, it will display the message, however,
if the @message is empty it means that a record was added to
the database.
-->

<% if @message %>
  <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
    <strong><%= @message %></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<% else %>

  <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
    <strong><%= @term %></strong> was found and added to the database
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<% end %>

<!--
after the message it renders the table
if the content is empty, only the "Go Back!" button will be displayed
otherwise, the table will be presented.
-->
<%= render 'table' %>