<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>



<h1>Documents#result</h1>
<p>Find me in app/views/documents/result.html.erb</p>

<h2>This came from the HDD and was saved on the database</h2>

<%= render 'table' %>